@using Yoga.Web.Common
@{
    ViewBag.Title = "Danh sách Huấn luận viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clearfix">
	<h2 class="page-title pull-left">@ViewBag.Title</h2>
	<button type="button" class="btn btn-success dropdown-toggle pull-right" onclick="updateTrainer();"><i class="fa fa-plus-circle"></i> Thêm HLV</button>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Thông tin tìm kiếm</h3>
    </div>
    <div class="panel-body" style="padding-bottom:0;">
        <form>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="TrainerName">Tên HLV</label>
                    <input type="text" class="form-control" id="TrainerName" placeholder="" name="TrainerName">
                </div>
                <div class="form-group col-md-3">
                    <label for="Phone">Số điện thoại</label>
                    <input type="tel" class="form-control" id="Phone" placeholder="" name="Phone">
                </div>
                <div class="form-group col-md-3">
                    <label for="Email">Email</label>
                    <input type="tel" class="form-control" id="Email" placeholder="" name="Email">
                </div>
                
                <div class="form-group col-md-3">
                    <label style="display: block;">&nbsp;</label>
                    <button type="button" class="btn btn-primary" onclick="searchTrainer();" style="margin-right: 15px;"><i class="fa fa-search"></i> Tìm kiếm</button>
                    <button type="button" class="btn btn-primary" onclick="exportExcel();"><i class="fa fa-file-excel-o"></i> Export<//button>
                </div>
            </div>
        </form>
    </div>
</div>

<table id="dataTable" class="display">
    <thead>
        <tr>
            <th width="40px;">#</th>
            <th>Họ & Tên</th>
            <th>Điện thoại</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Kinh nghiệm</th>
            <th>Chuyên môn</th>
            <th>Trạng thái</th>
        </tr>
    </thead>
    <tbody></tbody>
    @*<tfoot>
        <tr>
            <th>#</th>
            <th>Họ & Tên</th>
            <th>Điện thoại</th>
            <th>Email</th>
            <th>Địa chỉ</th>
            <th>Kinh nghiệm</th>
            <th>Chuyên môn</th>
            <th>Trạng thái</th>
        </tr>
    </tfoot>*@
</table>

<script>
    $(document).ready(function () {

        $('#dataTable').DataTable({
            serverSide: false,
            ajax: {
                "url": getAjaxSource(),
                "dataSrc": ""
            },
            columns: [
                { "data": "TrainerId" },
                { "data": "TrainerName" },
                { "data": "Phone" },
                { "data": "Email" },
                { "data": "Address" },
                { "data": "Experience" },
                { "data": "Subject" },
                { "data": "Status.StatusName" },
            ],
            fnPreDrawCallback: function (settings) {
                //showLoading();
            },
            fnDrawCallback: function (settings) {
                //hideLoading();
            },
            fnRowCallback: function (nRow, aData) {
                $('td:eq(0)', nRow).html(setIconVisibility(aData.TrainerId));
            },
        });
    });

    function getAjaxSource() {
        return '/Trainer/GetList?email=' + $('#Email').val() + '&phone=' + $('#Phone').val() + '&trainerName=' + $('#TrainerName').val();
    }

    function searchTrainer() {
        reloadTableTrainer();
    }

    function reloadTableTrainer() {
        var oTable = $('#dataTable').DataTable();
        oTable.ajax.url(getAjaxSource());
        oTable.ajax.reload();
    }

    function setIconVisibility(id) {
        var editString = '<a class="action-icon" style="color:#07078C" href= "javascript:void(0)" onclick="updateTrainer(' + id + ')"><span class="glyphicon glyphicon-edit" title="Sửa"></span></a>   ';
        var delString = '<a class="action-icon" style="color:#E91E63" href= "javascript:void(0)" onclick="deleteTrainer(' + id + ')" ><span class="glyphicon glyphicon-remove-circle" title="Xóa"></span></a>   ';
        var viewbankInfo = '<a class="action-icon" style="color:#337ab7" href= "javascript:void(0)" onclick="viewBankInfo(' + id + ')" ><span class="fa fa-bank" title="Ngân hàng"></span></a>';
        return editString + delString + viewbankInfo;
    }

    function exportExcel() {
        location.href = '@Url.Action("TrainerExport","Excel")?email=' + $('#Email').val() + '&phone=' + $('#Phone').val() + '&trainerName=' + $('#TrainerName').val();
    }

    function updateTrainer(id) {
        $.ajax({
            url: '@Url.Action("Edit", "Trainer")/?trainerId=' + id,
            type: 'POST',
            success: function (data) {
                showModalCommon("Thông tin Huấn luận viên", data);
            },
            error: function () {
                swal("Rất tiếc", "Vui lòng kiểm tra Internet!", "error");
            }
        });
    }

    function viewBankInfo(id) {
        $.ajax({
            url: '@Url.Action("BankInfos", "Trainer")/?trainerId=' + id,
            type: 'POST',
            success: function (data) {
                showModalCommon("Danh sách ngân hàng", data);
            },
            error: function () {
                swal("Rất tiếc", "Vui lòng kiểm tra Internet!", "error");
            }
        });
    }

    function deleteTrainer(id) {
        swal({
            title: "Bạn muốn xóa?",
            text: "Bạn thực sự muốn xóa Thông tin này!",
            type: "info",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Xóa!",
            closeOnConfirm: false,
            showLoaderOnConfirm: true,
        },
        function () {
            $.ajax({
                url: '@Url.Action("Delete", "Trainer")?trainerId=' + id,
                type: 'POST',
                success: function (data) {
                    if (data.Result) {
                        swal("Thông báo", 'Xóa thành công', "success");
                        reloadTableTrainer();
                    }
                    else {
                        swal("Thông báo", data.ErrorString, "error");
                    }
                },
                error: function () {
                    swal("Rất tiếc", "Vui lòng kiểm tra Internet!", "error");
                }
            });
        });

}

</script>
