@using Yoga.Entity.Enums
<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="bar-menu"><a href="#"><i class="fa fa-bars"></i> Danh mục</a></li>
    <li role="presentation"><a href="@Url.Action("Index","Customer")">Danh sách khách hàng</a></li>
    <li role="presentation"><a href="@Url.Action("Index","Province")">Danh mục Tỉnh</a></li>
    <li role="presentation"><a href="@Url.Action("Index", "Trainer")">Huấn luyện viên</a></li>
    <li role="presentation"><a href="@Url.Action("Index", "Operator")">Quản lý người dùng</a></li>

    <li role="presentation"><a href="@Url.Action("Index", "Event", new { eventTypeId = EventTypeEnum.CENTRAL_ACTIVITY.ToString()})">Hoạt động trung tâm</a></li>
    <li role="presentation"><a href="@Url.Action("Index", "Event", new { eventTypeId = EventTypeEnum.COMMUNITY_ACTIVITY.ToString()})">Hoạt động Cộng đồng</a></li>
    <li role="presentation"><a href="@Url.Action("Index", "ClassInfo")">Danh sách xếp lớp</a></li>
</ul>